*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    margin-top: 300px;
}
.num{
    font-size: 200px;
}
.btns{
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.start, .stop{
    margin-right: 30px;
}
.active{
    font-size: 35px;
    color: white;
    background-color: aqua;
}